@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: BebasNeueBold,sans-serif;
}

*,*::before,*::after{
  box-sizing: inherit;
  box-sizing: border-box;
}

*{
  margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    max-width:1200px ;
    margin: 0 auto;
    
}

.pic{
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 50px 0;
  width: 100%;
}

.top{
  color: #fff;
  margin: 0px;
  text-align: center;
}

#K{
  text-transform: uppercase;
  position: relative;
  top: 30px;
}

.u{
  color: #00A4E5;
}

#PARTNER{
  font-size: 60px;
  font-family: BebasNeueBold;
font-weight: 400;
line-height: -1px;
letter-spacing: 5.71px;
text-align: center;
margin-top: 370px;
margin-bottom: 30px;
}

#an{
  font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: -1px;
letter-spacing: 0px;
text-align: center;
}

#scrol{
  font-size: 11px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing:-1px ;
  text-align: center;
  margin-top: 180px;
}

.line{
  display: flex;
  
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgb(230, 230, 230);
  background: rgba(255, 255, 255, 0.856);
  height: 65px;
  align-items: center;
  margin-bottom: 200px;
  width: 100%;
}

#KL{
  text-transform: uppercase;
  margin-left: 224px;
}

.list{
display: flex;
gap: 10px;
list-style-type: none;
text-transform: uppercase;
color: rgb(72, 85, 91);
font-family: OpenSans;
font-size: 12px;
font-weight: 400;
line-height: -1px;
letter-spacing: 1.09px;
margin-right: 225px;

}

.story_left {
  max-width: 406px;
  margin-right: 35px;
  
}

.story_title_2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 50px 0;
}

.story_title_2::after{
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  content: '';
  display: block;
  margin: 10px auto 0;
}

.story_title_3 {
  font-weight: bold;
  font-size: 20px;
  color: #48555B;
  margin-bottom: 30px;
}

.story_inner {
  display: flex;
  justify-content: center;
}

.accent-color {
  color: #16ACE8;
}

.story_text {
  color: #48555B;
  font-size: 13px;
  font-size: 13px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.19px;

}

.story_right {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.story-item {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  width: 140px ;
  height: 224px;
  padding: 15px;
  margin-right: 20px;

}

.story-item:nth-child(1) {
  background-image: url(../img/we\ plan.png) ;

}

.story-item:nth-child(2) {
  background-image: url(../img/we\ manage.png) ;

}

.story-item:nth-child(3) {
  background-image: url(../img/Bitmap.png) ;
  margin-right: 0px;

}

.page{
 
 
}
.wrapper{
  
    margin-left: 150px;
  
}
.serv{
  margin-top: 200px;
  margin-bottom: 100px;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
}

#ourcapabilitis{
  font-size: 18px;
  font-weight: 700;
  color: rgb(72, 85, 91);
}

#ourcapabilitis::after{
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  content: '';
  display: block;
  margin: 10px auto 0;
}

#ipsum{
  font-size: 11px;
  font-weight: 400;
  color: rgb(72, 85, 91);
 
}

#href{

}

.serv__niz{
  display: flex;
  justify-content: space-between;
  gap: 50px;

}

.serve__item{
  box-sizing: border-box;
border: 1px solid rgb(230, 230, 230);
background: rgb(255, 255, 255);
width: 295px;
height: 330px;
}

.cardcover{
  margin-top: 38px;
  margin-left: 23px;
  margin-bottom: 25px;
}

.servtext{
  color: rgb(72, 85, 91);
font-family: OpenSans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.43px;
text-align: left;
margin-bottom: 13px;
}

#lore{
  color: rgb(72, 85, 91);
font-family: OpenSans;
font-size: 13px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.19px;
text-align: left;
}

#href{
  width: 150px;
  height: 40px;
  background-color: rgb(0, 164, 229);
  padding-top: 10px;
  padding-left:  20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
}
#wan{
  height: 500px;
  background-image: url(/img/foooterg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 50px 0;
  width: 100%;
  margin-top: 200px;
 

}

#want{
  color: rgb(72, 85, 91);
font-family: OpenSans;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.15px;
text-align: center;

}

.f1{
  height: 100px;
  background-color: rgb(23, 24, 25);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.New{
  color: rgb(255, 255, 255);
font-family: OpenSans;
font-size: 22px;
font-weight: 700;
line-height: -1px;
letter-spacing: 0.85px;
text-align: center;

margin-right: 20px;

}

.inpu{
  box-sizing: border-box;
border: 1px solid rgb(151, 151, 151);
background: rgb(255, 255, 255);
width: 250px;
height: 38px;

}

.btn{
  width: 150px;
height: 41px;
background: rgb(0, 164, 229);
}

/* secon block */
.f2 {
  height: 240px;
  background-color: rgb(20, 26, 32);
  display: flex;
  justify-content: space-between;
  color: #fff;
}

#COMPANY{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 11px;
font-weight: 400;
}

#Kons{
  color: #16ACE8;
}

#amet{
  width: 250px;
  font-size: 11px;
font-weight: 400;
line-height: 19px;
margin-top: 16px;
}

.f2_item2{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 font-size: 11px;
 font-weight: 400;
 text-transform: uppercase;
 text-decoration: none;
 color: white;
}

#li{
 text-decoration: none;
 color: white;
}

.f2_item3{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 11px;
font-weight: 400;
line-height: 25px;
}

.f2_item4{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 11px;
 font-weight: 400;
 line-height: 25px;
}

.f2_item5{
  margin-top:40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 font-size: 11px;
 font-weight: 400;
 line-height: 16px;
}

/* 3rd */
.color{
  background-color: rgb(20, 26, 32);
 
}

.f3{
  height: 70px;
  background-color: rgb(23, 24, 25);
  color: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}





@media  (max-width: 1024px){
  .story_inner{
    flex-wrap: wrap;
  }
  #PARTNER{
    font-size: 30px;
  }
  
  .wrapper{
    flex-direction: column;
    justify-content: center;
    
      margin-left: 100px;
    
  }
  
 #KL{
  margin-left: 20px;
  margin-right: 5px;
 }
 .page{
  margin: 20 20px;
}
  }
    
@media  (max-width: 600px){
  
  .story_right{
    flex-wrap: wrap;
  }
  .story-item{
    margin-bottom: 20px;
  }
  .story-item:nth-child(3){
    margin-bottom: 0px;
  }
  .btn{
    margin-right: 20px;
  }
  .f2 {
    height: 300px;
    
  }
  .f2_item1{
    max-width: 100px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .f2_item2{
    max-width: 100px;
    margin-right: 10px;
  }
  .f2_item3{
    max-width: 100px;
    margin-right: 10px;
  }
  .f2_item4{
    max-width: 100px;
    margin-right: 10px;
  }
  .f2_item{
    max-width: 100px;
    margin-right: 10px;
  }
  #Kons{
    font-size: 15px;
  }
  #amet{
    width: 100px;
  }
  .serve__item{
    margin-bottom: 10px;
  }
  .serv__niz{
    flex-wrap: wrap;
    gap: 10px;
  }
  .container{
    max-width: 500px;
    width: 100%;
    padding: 0 5px;
  }
  .line{
    justify-content: left;
  }
  .wrapper{
    margin-left: 18px;
  }
  #yy{
    margin-left: 85px;
  }
  }
  