@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

html {
  box-sizing: border-box;
}
*, *::before,*::after{
  box-sizing: inherit;
}


.container {

    width: 100%;
    max-width:1440px ;
    margin: 0 auto;
    padding: 0 250px;
}

.story {

}
.story_left {
  max-width: 406px;
  margin-right: 35px;
}
.story_title_2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 50px 0;
}
.story_title_2::after{
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  content: '';
  display: block;
  margin: 10px auto 0;
}

.story_title_3 {
  font-weight: bold;
  font-size: 20px;
  color: #48555B;
}
.story_inner {
  display: flex;
  justify-content: center;
}
.accent-color {
  color: #16ACE8;

}

.story_text {
  color: #48555B;
  font-size: 13px;

}
.story_right {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;

}
.story-item {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  width: 140px ;
  height: 224px;
  padding: 15px;
  margin-right: 20px;

}
.story-item:nth-child(1) {
  background-image: url(../img/we\ plan.png) ;

}
.story-item:nth-child(2) {
  background-image: url(../img/we\ manage.png) ;

}
.story-item:nth-child(3) {
  background-image: url(../img/Bitmap.png) ;
  margin-right: 0px;

}
@media screen and (max-width: 1440px){
.container {
  padding: 0 50px;
}
}
@media screen and (max-width: 1024px){
  .container {
    padding: 0 10px;
  }
  .story_inner{
    flex-wrap: wrap;
  }
  }
    
@media screen and (max-width: 500px){

  .story_right{
    flex-wrap: wrap;
  }
  .story-item{
    margin-bottom: 20px;
  }
  .story-item:nth-child(3){
    margin-bottom: 0px;
  }

  }
  


